<!-- Rails methods and variables for getting data -->
<% title(@category.title, "Categories") %>


<div class="container">
  <%= @category.title %>
  <br>
  <%= @category.description %>
  <br>
  <%= link_to "Edit", edit_category_path(@category), class:"btn btn-info" %>
</div>
